[alias]
  st = status
  co = checkout
  ci = commit
  pr = pull --rebase
  fp = fetch --prune
  lg = log --graph
  po = push origin
  pom = push origin master
  count = rev-list HEAD --count
  dc = diff --cached
  # squash helpers
  branch-current = rev-parse --symbolic-full-name --abbrev-ref HEAD
  number-of-commits-since-master = "! sh -c 'git log master..`git branch-current` --oneline | wc -l | tr -d \" \"'"
  squash = "! sh -c 'git rebase --interactive HEAD~`git number-of-commits-since-master`'"
  # Fancy logging.
  r = !GIT_NO_PAGER=1 git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"

[color]
	ui = true
[user]
	email = markus@krogemann.de
	name = Markus Krogemann

[push]
	default = simple
[rebase]
	autosquash = true
