[alias]
  st = status
  co = checkout
  ci = commit
  pr = pull --rebase
  po = push origin
  pom = push origin master

[core]
  editor = mate -w

[color]
	ui = true
[user]
	email = markus@krogemann.de
	name = Markus Krogemann
